@charset "utf-8";
/* CSS Document */

body { font-family:'Segoe UI', 'Lucida Grande', Arial; }

.hide { display:none; }
.frmheader { margin:0; padding:0;}

/*.no-padding { margin:0 !important; padding:0 !important;}*/

